<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IServiceController">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:4000/IServiceController"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServiceController"
                contract="ServiceReference1.IServiceController" name="NetTcpBinding_IServiceController">
                <identity>
                    <userPrincipalName value="TATJANAKOSI5213\tatjanakosic" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>