<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

	<system.serviceModel>
		<services>
			<service name="Service.ServiceController" behaviorConfiguration="ServiceBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:4000"/>
            <add baseAddress="http://localhost:8081"/>
					</baseAddresses>
				</host>
				<endpoint address="IServiceController" 
                  binding="netTcpBinding" 
                  contract="Common.Interfaces.IServiceController"/>
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange"/>

      </service>
		</services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
  </system.serviceModel>

	<appSettings>
		<add key="CsvDatoteka" value="..\..\CSVData"/>
		<add key="LoadDatoteka" value="..\..\XMLData\TBL_LOADn.xml"/>
		<add key="AuditDatoteka" value="..\..\XMLData\TBL_AUDITb.xml"/>
		<add key="DataTimeout" value="15"/>
	</appSettings>
	
	
</configuration>
